<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input type="text" class="form-control" value=model.title placeholder="Add a task..."}}
  </div>
  <div class="form-group">
    <label for="date">Due date</label>
    {{input type="date" class="form-control" value=model.date}}
  </div>
  <div class="form-group">
    <label for="title">Description</label>
    {{textarea class="form-control" value=model.description placeholder="Describe the task"}}
  </div>
  <button {{action "editTask" model.id}} type="submit" class="btn btn-primary">
    Submit
  </button>
</form>
